streamlit==1.22.0
streamlit-extras==0.2.7
streamlit-chat==0.0.2.2
tensorflow==2.12.0
numpy==1.23.5
matplotlib==3.6.3
openai==0.27.6
langchain==0.0.165
tiktoken
chromadb
pypdf
pycryptodome
wikipedia
opencv-python-headless
